body {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    margin: auto;
    text-align: center; 
    font-size: 50px;
    font-weight: bolder;
    color: #3a1872;  
    padding: 30px;
}

.content {
    display: flex;
}

.main {
    display: flex;
    flex: 4;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.menu {
    margin-left: 30px;
    margin-top: 100px;
    flex: 1;
}

.container {
    margin: auto;;
    width: 500px;
    max-width: 500px;
    min-width: 500px;
    height: 500px;
    max-height: 500px;
    min-height: 500px;
    border-top: 1px black solid;
    border-right: 1px black solid;
    background-color: white;
}

.row {
    display: flex;
    align-items: flex-start;
    margin: 0;
}

.cell {
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    border-left: 1px black solid;
    border-bottom: 1px black solid;
}

.slider-container {
    display: flex;
    justify-content: center;
}

.slider {
    appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 10px;
    background: #dfd3df; 
    outline: none; 
    opacity: 0.7;
    transition: opacity .2s;
    align-self: center;
  }

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px; 
    height: 25px; 
    border-radius: 50%; 
    background: #8e5ae0;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #8e5ae0;
    cursor: pointer;
}

.slider-text {
    text-align: center;
    color: #3a1872;
    padding-top: 10px;
}

.button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: large;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
    width: 50%;
    border: #3a1872 2px solid;
    border-radius: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    opacity: 0.8;
    transition: opacity .1s;
}

button:hover {
    opacity: 1;
}

#color {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#grayscale {
    color: gray;
}